// Buttons gebaseerd op button-base
.button-lang {
  @include button-base;
  max-width: 66%;
  padding: 10px 13px;
}

.button-lang-ad {
  @include button-base;
  margin-top: -5px;
}

.button-lang-alle-reviews {
  @include button-base;
}

.button-lang-locked {
  @include button-base;
  min-width: 93%;
}

.button-reageren {
  @include button-base;
  margin: 15px 0;
  margin-top: 0;
  max-width: 30%;
  padding: 8px 12px;
  font-size: $font-size-4;
}

.button-reageren-popup {
  @include button-base;
  margin: 15px 0 0 0;
  width: 17%;
  padding: 8px 12px;
}

.button-home {
  @include button-base;
  width: 10%;
  padding: 8px 12px;
  background-color: $third-color;
  margin: 0;
  position: absolute;
  right: 7vw;
}


// Filter button met afwijkende styling
.filter-button {
  background-color: $primary-color;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: $font-size-3;
  color: #ffff;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
  margin: 20px 0 30px 20px;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.1);

  &.inactive {
    background-color: white;
    color: #000;
  }
}
