@charset "UTF-8";
strong {
  font-weight: 800;
}

.rood {
  color: #f23838;
}

label {
  padding: 5px 10px;
  margin: 0 10px 10px 0;
}

@media (min-width: 769px) {
  body {
    background-color: #FEFAF9;
    font-family: "Montserrat", sans-serif;
    color: #333;
    margin: 0;
  }
  header {
    padding-bottom: 100px;
  }
  .header {
    background-color: #8FC936;
    color: #fff;
    position: fixed;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 0;
    width: 100%;
  }
  .header .header-tekst {
    font-size: 15px;
    font-weight: 300;
  }
  .header .mobile-logo {
    display: flex;
    height: 30px;
  }
  .header .header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 86%;
    justify-content: space-between;
    margin-left: 12vw;
    margin-right: 5vw;
  }
  .menu-toggle {
    width: 30px;
    height: 20px;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 110;
  }
  .menu-toggle span {
    height: 4px;
    background: #fff;
    border-radius: 2px;
    transition: all 0.5s ease;
  }
  .menu-toggle.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  .menu-toggle.open span:nth-child(2) {
    opacity: 0;
  }
  .menu-toggle.open span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
  }
  .overlay {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: #8FC936;
    overflow: hidden;
    transition: height 0.5s ease;
    z-index: 50;
  }
  .overlay.open {
    height: 100vh;
  }
  .content {
    padding: 0 7vw 0 15vw;
  }
  .button-lang {
    background-color: #8FC936;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 600;
    margin: 15px 20px;
    max-width: 66%;
    padding: 10px 13px;
  }
  .button-lang-ad {
    background-color: #8FC936;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 600;
    margin: 15px 20px;
    margin-top: -5px;
  }
  .button-lang-alle-reviews {
    background-color: #8FC936;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 600;
    margin: 15px 20px;
  }
  .button-lang-locked {
    background-color: #8FC936;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 600;
    margin: 15px 20px;
    min-width: 93%;
  }
  .button-reageren {
    background-color: #8FC936;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 600;
    margin: 15px 20px;
    margin: 15px 0;
    margin-top: 0;
    max-width: 30%;
    padding: 8px 12px;
    font-size: 12px;
  }
  .button-reageren-popup {
    background-color: #8FC936;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 600;
    margin: 15px 20px;
    margin: 0;
    width: 25%;
    padding: 8px 12px;
  }
  .button-home {
    background-color: #8FC936;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 600;
    margin: 15px 20px;
    width: 10%;
    padding: 8px 12px;
    background-color: #f23838;
    margin: 0;
    position: absolute;
    right: 5vw;
  }
  .filter-button {
    background-color: #8FC936;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 400;
    margin: 20px 0 30px 20px;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.1);
  }
  .filter-button.inactive {
    background-color: white;
    color: #000;
  }
  .modal {
    display: none;
    position: fixed;
    inset: 0;
    z-index: 101;
    width: 100%;
    min-height: 100dvh;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
    overflow-y: auto;
  }
  .modal.visible {
    display: flex;
  }
  .modal.visible .modal-content {
    animation: fadeIn 0.3s ease-out forwards;
  }
  .modal.fade-out .modal-content {
    animation: fadeOut 0.3s ease-in forwards;
  }
  .modal .modal-content {
    background-color: #fff;
    padding: 0 30px 30px;
    border-radius: 5px;
    width: 90%;
    max-height: 90%;
    overflow-y: auto;
    position: relative;
  }
  .modal .modal-header {
    position: sticky;
    top: 0;
    z-index: 10;
    background: #fff;
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
  }
  .modal .close {
    font-size: 35px;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
  }
  .modal .close:hover {
    color: #000;
  }
  body.modal-open {
    overflow: hidden;
    position: fixed;
    width: 100%;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  @keyframes fadeOut {
    from {
      opacity: 1;
      transform: scale(1);
    }
    to {
      opacity: 0;
      transform: scale(0.95);
    }
  }
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 100vh;
    background-color: #fff;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow-x: hidden;
    padding-top: 130px;
    z-index: 20;
    transition: width 0.3s ease;
  }
  .sidebar:hover {
    width: 350px;
  }
  .sidebar:hover .label {
    opacity: 1;
    visibility: visible;
  }
  .sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .sidebar ul li a {
    display: flex;
    align-items: center;
    padding: 15px;
    margin-bottom: 16px;
    color: #000;
    text-decoration: none;
  }
  .sidebar ul li a.active {
    font-weight: bold;
  }
  .sidebar ul li a svg {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    fill: #000;
    margin-right: 16px;
    min-width: 60px;
    text-align: center;
  }
  .sidebar ul li a .label {
    opacity: 0;
    visibility: hidden;
    white-space: nowrap;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    cursor: pointer;
  }
  .labels {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 12px 0;
  }
  label {
    padding: 5px 10px;
    margin: 0 10px 10px 0;
  }
  .label svg {
    width: 15px;
    margin-right: 5px;
    color: #333;
  }
  .label-tGrey {
    color: #888;
    background-color: #fff;
    display: flex;
    align-items: center;
    min-width: 30px;
    min-height: 30px;
    height: auto;
    padding: 5px 20px;
    font-size: 12px;
    font-weight: 400;
    border-radius: 3px;
    box-shadow: 0 0 4px 0 #f2f2f2;
    margin: 7px 0;
  }
  .card {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    width: 100%;
    max-width: 800px;
    height: 400px;
    max-width: 34vw;
    height: 18vw;
  }
  .card canvas {
    width: 100% !important;
    height: 100% !important;
  }
}
@media (min-width: 769px) and (max-width: 600px) {
  .card {
    height: 250px;
  }
}
@media (min-width: 769px) {
  .card-ad {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    width: 100%;
    max-width: 800px;
    height: 400px;
    max-width: 28vw;
    height: 18vw;
  }
  .card-ad canvas {
    width: 100% !important;
    height: 100% !important;
  }
}
@media (min-width: 769px) and (max-width: 600px) {
  .card-ad {
    height: 250px;
  }
}
@media (min-width: 769px) {
  .charts {
    display: flex;
    justify-content: center;
  }
  .content-start {
    margin: 50px 0;
    padding: 0 8vw 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .blok-start {
    font-size: 27px;
    color: #000;
    margin: 0;
  }
  .blok-start-extra {
    font-size: 27px;
    color: #f23838;
    margin: 0;
  }
  .container-first-row,
  .container-second-row,
  .container-third-row {
    display: flex;
    justify-content: space-between;
  }
  .container-second-row {
    align-items: stretch;
  }
  .container-third-row {
    flex-direction: row;
    margin-bottom: 100px;
  }
  .containers-underneath {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
  }
  .containers-underneath-small {
    display: flex;
    flex-wrap: wrap;
    gap: 34px;
    margin-left: 13vw;
    justify-content: space-between;
  }
  .huidig-abonnement,
  .aantal-credits,
  .ranking {
    display: flex;
    justify-items: flex-start;
    flex-direction: column;
    background-color: white;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-bottom: 42px;
  }
  .huidig-abonnement {
    min-width: 30%;
    position: relative;
  }
  .aantal-credits {
    min-width: 30%;
  }
  .ranking {
    min-width: 20%;
  }
  .nieuwe-reviews {
    display: flex;
    justify-items: flex-start;
    flex-direction: column;
    background-color: white;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-bottom: 42px;
    max-width: 40%;
  }
  .review-statistieken {
    display: flex;
    justify-items: flex-start;
    flex-direction: column;
    background-color: white;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-bottom: 42px;
    min-width: 110%;
    margin-bottom: 7vw;
  }
  .bezoekers-statistieken {
    display: flex;
    justify-items: flex-start;
    flex-direction: column;
    background-color: white;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-bottom: 42px;
    min-width: 110%;
  }
  .advertentie-statistieken {
    display: flex;
    justify-items: flex-start;
    flex-direction: column;
    background-color: white;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-bottom: 42px;
    min-width: 40%;
    margin-bottom: 0;
  }
  .kleine-statistieken {
    display: flex;
    justify-items: flex-start;
    flex-direction: column;
    background-color: white;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 45%;
    word-wrap: break-word;
  }
  .reviews-blok {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 20px;
    height: 100%;
  }
  .reviews-blok-top {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 20px;
  }
  .reviews-inhoud {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  .statistieken-inhoud {
    display: flex;
    justify-content: space-between;
    margin-right: 14px;
    margin-top: 20px;
  }
  .blok-naam, .blok-inhoud, .blok-extra, .blok-extra-ranking,
  .blok-extra-ad, .blok-review-datum, .blok-review-datum-popup,
  .blok-extra-onder {
    color: #000;
    padding-left: 20px;
  }
  .blok-naam {
    font-size: 17px;
    margin-bottom: -5px;
    margin-right: 10px;
    z-index: 10;
  }
  .blok-inhoud {
    font-size: 27px;
    margin-bottom: 5px;
    font-weight: 500;
  }
  .blok-extra,
  .blok-extra-ad,
  .blok-extra-ranking {
    font-size: 15px;
    font-weight: 200;
    margin-top: 16px;
  }
  .blok-extra-ranking {
    margin-top: 23px;
    margin-bottom: 24px;
  }
  .blok-extra-ad {
    padding-right: 88px;
  }
  .blok-review-datum,
  .blok-review-datum-popup {
    font-size: 12px;
    font-weight: 200;
    margin-right: 10px;
    padding-left: 0;
    text-align: start;
  }
  .blok-extra-onder {
    font-size: 15px;
    color: #000;
    padding-left: 20px;
    margin: 8px 0 28px 0;
    font-weight: 200;
  }
  .blok-username,
  .blok-username-popup,
  .blok-score,
  .blok-score-popup,
  .blok-review-kop,
  .blok-review-kop-popup,
  .blok-voordelen-kop-popup,
  .blok-review-tekst,
  .blok-review-tekst-popup,
  .blok-voordelen-tekst-popup,
  .blok-button-reageren {
    color: #000;
  }
  .blok-username {
    font-size: 15px;
    font-weight: 500;
    margin-top: 16px;
  }
  .blok-username-popup {
    font-size: 17px;
    color: #f23838;
    font-weight: 500;
    margin: 0;
    text-align: start;
  }
  .blok-score {
    font-weight: 500;
    background-color: #0084f5;
    color: white;
    border-radius: 3px;
    min-width: 25px;
    text-align: center;
  }
  .blok-score-popup {
    font-weight: 500;
    background-color: #0084f5;
    color: white;
    border-radius: 3px;
    min-width: 35px;
    text-align: center;
  }
  .blok-score {
    font-size: 17px;
    margin-top: 16px;
    margin-left: 17px;
    padding: 12px;
  }
  .blok-score-popup {
    font-size: 27px;
    padding: 16px;
    margin: 20px 0;
  }
  .blok-review-kop,
  .blok-review-kop-popup,
  .blok-voordelen-kop-popup,
  .blok-voordelen-kop-popup-plus {
    font-size: 17px;
    font-weight: 500;
    margin-top: 16px;
  }
  .blok-review-kop-popup {
    text-align: start;
  }
  .blok-voordelen-kop-popup {
    text-align: center;
    color: #8FC936;
    font-size: 27px;
  }
  .blok-review-tekst {
    font-size: 15px;
    font-weight: 300;
    margin-top: -6px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
  }
  .blok-review-tekst::after {
    content: "”";
    position: absolute;
    right: 0;
    bottom: 0;
    display: inline;
  }
  .blok-review-tekst-popup,
  .blok-voordelen-tekst-popup {
    font-size: 15px;
    font-weight: 300;
    text-align: start;
  }
  .blok-review-tekst-popup {
    margin-right: 150px;
  }
  .blok-button-reageren {
    display: flex;
    justify-content: flex-end;
  }
  .image-wrapper-pim {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .image-wrapper-pim-vriend {
    position: absolute;
    right: 3px;
    bottom: -4px;
  }
  .pim-peeking {
    width: 65px;
  }
  .pim-peeking-vriend {
    width: 100px;
  }
  .image-wrapper-user {
    display: flex;
  }
  .blok-footer {
    text-align: center;
    background-color: #333;
    padding: 32px 0;
    position: relative;
    z-index: 10;
  }
  .footer {
    font-size: 15px;
    margin: 0;
    color: #f2f2f2;
  }
  .light-grey-line {
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    width: 100%;
  }
  hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
  }
  .review-statistieken,
  .bezoekers-statistieken,
  .advertentie-statistieken {
    position: relative;
  }
  .review-statistieken .overlay,
  .bezoekers-statistieken .overlay,
  .advertentie-statistieken .overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-radius: 5px;
  }
  .review-statistieken.locked .overlay,
  .bezoekers-statistieken.locked .overlay,
  .advertentie-statistieken.locked .overlay {
    display: flex;
  }
  .review-statistieken .overlay-top,
  .bezoekers-statistieken .overlay-top,
  .advertentie-statistieken .overlay-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-top: 20%;
  }
  .review-statistieken .overlay-locked,
  .bezoekers-statistieken .overlay-locked,
  .advertentie-statistieken .overlay-locked {
    font-size: 27px;
    color: #000;
    font-weight: 600;
    padding: 0 100px;
  }
  .overlay {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: #8FC936;
    overflow: hidden;
    transition: height 0.5s ease;
    z-index: 50;
  }
  .overlay.open {
    height: 100vh;
  }
  .content {
    padding: 0 5vw 0 11vw;
  }
  .start-wrapper-popup {
    display: flex;
    margin: 23px 0 40px 0;
  }
  .inhoud-popup,
  .textarea-wrapper-popup {
    display: flex;
    flex-direction: column;
  }
  .inhoud-popup .user-info-popup,
  .textarea-wrapper-popup .user-info-popup {
    margin-left: 10px;
  }
  .alle-inhoud-popup {
    display: flex;
    flex-direction: row;
  }
  .inhoud-popup-vergelijk-blok {
    display: flex;
    gap: 14vw;
  }
  .inhoud-popup-vergelijk-blok .inhoud-popup-vergelijk {
    flex: 1;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  .lijst-voordelen-popup-locked {
    margin: 0 37vw;
  }
  .alle-inhoud-voordelen-popup {
    display: flex;
    justify-content: center;
  }
  .button-reageren-wrapper-popup {
    display: flex;
    justify-content: flex-end;
  }
  .blok-wrapper-score-popup {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .blok-score-wrapper-popup {
    display: flex;
    flex-direction: row;
  }
  .blok-score-extra-popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    margin-left: 15px;
  }
  .blok-score-extra-popup-tekst {
    font-weight: 300;
    font-size: 15px;
    margin: 0;
  }
  .textarea-popup {
    font-size: 12px;
    margin: 30px 0;
    resize: none;
    max-height: 10vw;
  }
  .labels {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 12px 0;
  }
  label {
    padding: 5px 10px;
    margin: 0 10px 10px 0;
  }
  label svg {
    width: 15px;
    margin-right: 5px;
    color: #333;
  }
  .label-tGrey {
    color: #888;
    background-color: #fff;
    display: flex;
    align-items: center;
    min-width: 30px;
    min-height: 30px;
    height: auto;
    padding: 5px 20px;
    font-size: 12px;
    font-weight: 400;
    border-radius: 3px;
    box-shadow: 0 0 4px 0 #f2f2f2;
    margin: 7px 0;
  }
  .procon ul {
    margin: 0;
    padding-left: 20px;
    text-align: left;
    font-size: 15px;
  }
  .procon ul li {
    margin-bottom: 10px;
  }
  .pros {
    margin: 20px 0;
  }
  .pros ul li {
    list-style-image: url(/includes/media/plus-circle.svg);
  }
  .cons {
    margin: 20px 0;
  }
  .cons ul li {
    list-style-image: url(/includes/media/minus-circle.svg);
  }
  .light-grey-line {
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    width: 100%;
  }
  hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
  }
  hr.hide {
    display: none;
  }
  .overlay-menu {
    list-style: none;
    padding: 0;
  }
  .overlay-menu li {
    margin-bottom: 10px;
    text-align: center;
  }
  .overlay-menu a {
    font-size: 27px;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
  }
  ul {
    list-style: circle;
  }
  ul li {
    margin-bottom: 10px;
    list-style-image: url(/includes/media/unlock.png);
  }
}
.header {
  background-color: #8FC936;
  color: #fff;
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 25px 0;
  width: 100%;
}
.header .header-tekst {
  font-size: 15px;
  font-weight: 300;
}
.header .mobile-logo {
  display: flex;
  height: 30px;
}
.header .header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 86%;
  justify-content: space-between;
  margin-left: 12vw;
  margin-right: 5vw;
}

.menu-toggle {
  width: 30px;
  height: 20px;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 110;
}
.menu-toggle span {
  height: 4px;
  background: #fff;
  border-radius: 2px;
  transition: all 0.5s ease;
}
.menu-toggle.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.menu-toggle.open span:nth-child(2) {
  opacity: 0;
}
.menu-toggle.open span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

.overlay {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 0;
  background: #8FC936;
  overflow: hidden;
  transition: height 0.5s ease;
  z-index: 50;
}
.overlay.open {
  height: 100vh;
}

.content {
  padding: 0 7vw 0 15vw;
}

.button-lang {
  background-color: #8FC936;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  color: white;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 600;
  margin: 15px 20px;
  max-width: 66%;
  padding: 10px 13px;
}

.button-lang-ad {
  background-color: #8FC936;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  color: white;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 600;
  margin: 15px 20px;
  margin-top: -5px;
}

.button-lang-alle-reviews {
  background-color: #8FC936;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  color: white;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 600;
  margin: 15px 20px;
}

.button-lang-locked {
  background-color: #8FC936;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  color: white;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 600;
  margin: 15px 20px;
  min-width: 93%;
}

.button-reageren {
  background-color: #8FC936;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  color: white;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 600;
  margin: 15px 20px;
  margin: 15px 0;
  margin-top: 0;
  max-width: 30%;
  padding: 8px 12px;
  font-size: 12px;
}

.button-reageren-popup {
  background-color: #8FC936;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  color: white;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 600;
  margin: 15px 20px;
  margin: 0;
  width: 25%;
  padding: 8px 12px;
}

.button-home {
  background-color: #8FC936;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  color: white;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 600;
  margin: 15px 20px;
  width: 10%;
  padding: 8px 12px;
  background-color: #f23838;
  margin: 0;
  position: absolute;
  right: 5vw;
}

.filter-button {
  background-color: #8FC936;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  color: white;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
  margin: 20px 0 30px 20px;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.1);
}
.filter-button.inactive {
  background-color: white;
  color: #000;
}

.modal {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 101;
  width: 100%;
  min-height: 100dvh;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}
.modal.visible {
  display: flex;
}
.modal.visible .modal-content {
  animation: fadeIn 0.3s ease-out forwards;
}
.modal.fade-out .modal-content {
  animation: fadeOut 0.3s ease-in forwards;
}
.modal .modal-content {
  background-color: #fff;
  padding: 0 30px 30px;
  border-radius: 5px;
  width: 90%;
  max-height: 90%;
  overflow-y: auto;
  position: relative;
}
.modal .modal-header {
  position: sticky;
  top: 0;
  z-index: 10;
  background: #fff;
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
}
.modal .close {
  font-size: 35px;
  font-weight: bold;
  color: #aaa;
  cursor: pointer;
}
.modal .close:hover {
  color: #000;
}

body.modal-open {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.95);
  }
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  height: 100vh;
  background-color: #fff;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow-x: hidden;
  padding-top: 130px;
  z-index: 20;
  transition: width 0.3s ease;
}
.sidebar:hover {
  width: 350px;
}
.sidebar:hover .label {
  opacity: 1;
  visibility: visible;
}
.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar ul li a {
  display: flex;
  align-items: center;
  padding: 15px;
  margin-bottom: 16px;
  color: #000;
  text-decoration: none;
}
.sidebar ul li a.active {
  font-weight: bold;
}
.sidebar ul li a svg {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  fill: #000;
  margin-right: 16px;
  min-width: 60px;
  text-align: center;
}
.sidebar ul li a .label {
  opacity: 0;
  visibility: hidden;
  white-space: nowrap;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  cursor: pointer;
}

.labels {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 12px 0;
}

label {
  padding: 5px 10px;
  margin: 0 10px 10px 0;
}

.label svg {
  width: 15px;
  margin-right: 5px;
  color: #333;
}

.label-tGrey {
  color: #888;
  background-color: #fff;
  display: flex;
  align-items: center;
  min-width: 30px;
  min-height: 30px;
  height: auto;
  padding: 5px 20px;
  font-size: 12px;
  font-weight: 400;
  border-radius: 3px;
  box-shadow: 0 0 4px 0 #f2f2f2;
  margin: 7px 0;
}

.card {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  width: 100%;
  max-width: 800px;
  height: 400px;
  max-width: 34vw;
  height: 18vw;
}
.card canvas {
  width: 100% !important;
  height: 100% !important;
}
@media (max-width: 600px) {
  .card {
    height: 250px;
  }
}

.card-ad {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  width: 100%;
  max-width: 800px;
  height: 400px;
  max-width: 28vw;
  height: 18vw;
}
.card-ad canvas {
  width: 100% !important;
  height: 100% !important;
}
@media (max-width: 600px) {
  .card-ad {
    height: 250px;
  }
}

.charts {
  display: flex;
  justify-content: center;
}

.content-start {
  margin: 50px 0;
  padding: 0 8vw 0 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.blok-start {
  font-size: 27px;
  color: #000;
  margin: 0;
}

.blok-start-extra {
  font-size: 27px;
  color: #f23838;
  margin: 0;
}

.container-first-row,
.container-second-row,
.container-third-row {
  display: flex;
  justify-content: space-between;
}

.container-second-row {
  align-items: stretch;
}

.container-third-row {
  flex-direction: row;
  margin-bottom: 100px;
}

.containers-underneath {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
}

.containers-underneath-small {
  display: flex;
  flex-wrap: wrap;
  gap: 34px;
  margin-left: 13vw;
  justify-content: space-between;
}

.huidig-abonnement,
.aantal-credits,
.ranking {
  display: flex;
  justify-items: flex-start;
  flex-direction: column;
  background-color: white;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 42px;
}

.huidig-abonnement {
  min-width: 30%;
  position: relative;
}

.aantal-credits {
  min-width: 30%;
}

.ranking {
  min-width: 20%;
}

.nieuwe-reviews {
  display: flex;
  justify-items: flex-start;
  flex-direction: column;
  background-color: white;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 42px;
  max-width: 40%;
}

.review-statistieken {
  display: flex;
  justify-items: flex-start;
  flex-direction: column;
  background-color: white;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 42px;
  min-width: 110%;
  margin-bottom: 7vw;
}

.bezoekers-statistieken {
  display: flex;
  justify-items: flex-start;
  flex-direction: column;
  background-color: white;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 42px;
  min-width: 110%;
}

.advertentie-statistieken {
  display: flex;
  justify-items: flex-start;
  flex-direction: column;
  background-color: white;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 42px;
  min-width: 40%;
  margin-bottom: 0;
}

.kleine-statistieken {
  display: flex;
  justify-items: flex-start;
  flex-direction: column;
  background-color: white;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 45%;
  word-wrap: break-word;
}

.reviews-blok {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20px;
  height: 100%;
}

.reviews-blok-top {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 20px;
}

.reviews-inhoud {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.statistieken-inhoud {
  display: flex;
  justify-content: space-between;
  margin-right: 14px;
  margin-top: 20px;
}

.blok-naam, .blok-inhoud, .blok-extra, .blok-extra-ranking,
.blok-extra-ad, .blok-review-datum, .blok-review-datum-popup,
.blok-extra-onder {
  color: #000;
  padding-left: 20px;
}

.blok-naam {
  font-size: 17px;
  margin-bottom: -5px;
  margin-right: 10px;
  z-index: 10;
}

.blok-inhoud {
  font-size: 27px;
  margin-bottom: 5px;
  font-weight: 500;
}

.blok-extra,
.blok-extra-ad,
.blok-extra-ranking {
  font-size: 15px;
  font-weight: 200;
  margin-top: 16px;
}

.blok-extra-ranking {
  margin-top: 23px;
  margin-bottom: 24px;
}

.blok-extra-ad {
  padding-right: 88px;
}

.blok-review-datum,
.blok-review-datum-popup {
  font-size: 12px;
  font-weight: 200;
  margin-right: 10px;
  padding-left: 0;
  text-align: start;
}

.blok-extra-onder {
  font-size: 15px;
  color: #000;
  padding-left: 20px;
  margin: 8px 0 28px 0;
  font-weight: 200;
}

.blok-username,
.blok-username-popup,
.blok-score,
.blok-score-popup,
.blok-review-kop,
.blok-review-kop-popup,
.blok-voordelen-kop-popup,
.blok-review-tekst,
.blok-review-tekst-popup,
.blok-voordelen-tekst-popup,
.blok-button-reageren {
  color: #000;
}

.blok-username {
  font-size: 15px;
  font-weight: 500;
  margin-top: 16px;
}

.blok-username-popup {
  font-size: 17px;
  color: #f23838;
  font-weight: 500;
  margin: 0;
  text-align: start;
}

.blok-score {
  font-weight: 500;
  background-color: #0084f5;
  color: white;
  border-radius: 3px;
  min-width: 25px;
  text-align: center;
}

.blok-score-popup {
  font-weight: 500;
  background-color: #0084f5;
  color: white;
  border-radius: 3px;
  min-width: 35px;
  text-align: center;
}

.blok-score {
  font-size: 17px;
  margin-top: 16px;
  margin-left: 17px;
  padding: 12px;
}

.blok-score-popup {
  font-size: 27px;
  padding: 16px;
  margin: 20px 0;
}

.blok-review-kop,
.blok-review-kop-popup,
.blok-voordelen-kop-popup,
.blok-voordelen-kop-popup-plus {
  font-size: 17px;
  font-weight: 500;
  margin-top: 16px;
}

.blok-review-kop-popup {
  text-align: start;
}

.blok-voordelen-kop-popup {
  text-align: center;
  color: #8FC936;
  font-size: 27px;
}

.blok-review-tekst {
  font-size: 15px;
  font-weight: 300;
  margin-top: -6px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}
.blok-review-tekst::after {
  content: "”";
  position: absolute;
  right: 0;
  bottom: 0;
  display: inline;
}

.blok-review-tekst-popup,
.blok-voordelen-tekst-popup {
  font-size: 15px;
  font-weight: 300;
  text-align: start;
}

.blok-review-tekst-popup {
  margin-right: 150px;
}

.blok-button-reageren {
  display: flex;
  justify-content: flex-end;
}

.image-wrapper-pim {
  position: absolute;
  right: 0;
  bottom: 0;
}

.image-wrapper-pim-vriend {
  position: absolute;
  right: 3px;
  bottom: -4px;
}

.pim-peeking {
  width: 65px;
}

.pim-peeking-vriend {
  width: 100px;
}

.image-wrapper-user {
  display: flex;
}

.blok-footer {
  text-align: center;
  background-color: #333;
  padding: 32px 0;
  position: relative;
  z-index: 10;
}

.footer {
  font-size: 15px;
  margin: 0;
  color: #f2f2f2;
}

.light-grey-line {
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;
  width: 100%;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

.review-statistieken,
.bezoekers-statistieken,
.advertentie-statistieken {
  position: relative;
}
.review-statistieken .overlay,
.bezoekers-statistieken .overlay,
.advertentie-statistieken .overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-radius: 5px;
}
.review-statistieken.locked .overlay,
.bezoekers-statistieken.locked .overlay,
.advertentie-statistieken.locked .overlay {
  display: flex;
}
.review-statistieken .overlay-top,
.bezoekers-statistieken .overlay-top,
.advertentie-statistieken .overlay-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-top: 20%;
}
.review-statistieken .overlay-locked,
.bezoekers-statistieken .overlay-locked,
.advertentie-statistieken .overlay-locked {
  font-size: 27px;
  color: #000;
  font-weight: 600;
  padding: 0 100px;
}

.overlay {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 0;
  background: #8FC936;
  overflow: hidden;
  transition: height 0.5s ease;
  z-index: 50;
}

.overlay.open {
  height: 100vh;
}

.content {
  padding: 0 5vw 0 11vw;
}

.start-wrapper-popup {
  display: flex;
  margin: 23px 0 40px 0;
}

.inhoud-popup,
.textarea-wrapper-popup {
  display: flex;
  flex-direction: column;
}
.inhoud-popup .user-info-popup,
.textarea-wrapper-popup .user-info-popup {
  margin-left: 10px;
}

.alle-inhoud-popup {
  display: flex;
  flex-direction: row;
}

.inhoud-popup-vergelijk-blok {
  display: flex;
  gap: 14vw;
}
.inhoud-popup-vergelijk-blok .inhoud-popup-vergelijk {
  flex: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.lijst-voordelen-popup-locked {
  margin: 0 37vw;
}

.alle-inhoud-voordelen-popup {
  display: flex;
  justify-content: center;
}

.button-reageren-wrapper-popup {
  display: flex;
  justify-content: flex-end;
}

.blok-wrapper-score-popup {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.blok-score-wrapper-popup {
  display: flex;
  flex-direction: row;
}

.blok-score-extra-popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  margin-left: 15px;
}

.blok-score-extra-popup-tekst {
  font-weight: 300;
  font-size: 15px;
  margin: 0;
}

.textarea-popup {
  font-size: 12px;
  margin: 30px 0;
  resize: none;
  max-height: 10vw;
}

.labels {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 12px 0;
}

label {
  padding: 5px 10px;
  margin: 0 10px 10px 0;
}
label svg {
  width: 15px;
  margin-right: 5px;
  color: #333;
}

.label-tGrey {
  color: #888;
  background-color: #fff;
  display: flex;
  align-items: center;
  min-width: 30px;
  min-height: 30px;
  height: auto;
  padding: 5px 20px;
  font-size: 12px;
  font-weight: 400;
  border-radius: 3px;
  box-shadow: 0 0 4px 0 #f2f2f2;
  margin: 7px 0;
}

.procon ul {
  margin: 0;
  padding-left: 20px;
  text-align: left;
  font-size: 15px;
}
.procon ul li {
  margin-bottom: 10px;
}

.pros {
  margin: 20px 0;
}
.pros ul li {
  list-style-image: url(/includes/media/plus-circle.svg);
}

.cons {
  margin: 20px 0;
}
.cons ul li {
  list-style-image: url(/includes/media/minus-circle.svg);
}

.light-grey-line {
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;
  width: 100%;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
hr.hide {
  display: none;
}

.overlay-menu {
  list-style: none;
  padding: 0;
}
.overlay-menu li {
  margin-bottom: 10px;
  text-align: center;
}
.overlay-menu a {
  font-size: 27px;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: circle;
}
ul li {
  margin-bottom: 10px;
  list-style-image: url(/includes/media/unlock.png);
}/*# sourceMappingURL=main-desktop.css.map */