$primary-color: #8FC936;
$secondary-color: #3585ED;
$font-size-1: 27px;
$font-size-2: 17px;
$font-size-3: 15px;
$font-size-4: 12px;

strong {
    font-weight: 500;
}


@media (min-width: 769px) {
    body {
        background-color: #FEFAF9;
        font-family: 'Montserrat', sans-serif;
    }


    .content {
        padding: 0 120px 0 240px;
    }


    .sidebar {
        position: fixed;
        left: 0;
        top: 0;
        width: 100px;
        height: 100vh;
        background-color: #fff;
        box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        overflow-x: hidden;
        transition: width 0.3s ease;
        padding-top: 130px;
      
        &:hover {
          width: 350px;
        }
      
        ul {
          list-style: none;
          padding: 0;
          margin: 0;
      
          li {
            a {
              display: flex;
              align-items: center;
              padding: 15px;
              color: #000;
              text-decoration: none;
              margin-bottom: 16px;
      
              svg {
                flex-shrink: 0;
                width: 24px;
                height: 24px;
                fill: #000;
                margin-right: 16px;
                min-width: 60px;
                text-align: center;
              }
      
              .label {
                opacity: 0;
                visibility: hidden;
                white-space: nowrap;
                transition: opacity 0.3s ease, visibility 0.3s ease;
                cursor: pointer;
              }
      
              &.active {
                font-weight: bold;
              }
            }
          }
        }
      
        &:hover .label {
          opacity: 1;
          visibility: visible;
        }
      }
      
      
    .content-start {
        text-align: center;
        margin-bottom: 50px;
        margin-top: 50px;
    }


    .blok-start {
        font-size: $font-size-1;
        color: #000;
        margin-bottom: 0px;
        margin-top: 0px;
    }


    .container-first-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
    }


    .huidig-abonnement {
        display: flex;
        justify-items: flex-start;
        flex-direction: column;
        background-color: #ffff;
        box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        margin-bottom: 42px;
        min-width: 30%;
    }


    .image-wrapper-pim {
        display: flex;
        flex-direction: row-reverse;
        margin-top: -132px;
    }


    .aantal-credits {
        display: flex;
        justify-items: flex-start;
        flex-direction: column;
        background-color: #ffff;
        box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        margin-bottom: 42px;
        min-width: 30%;
    }


    .ranking {
        display: flex;
        justify-items: flex-start;
        flex-direction: column;
        background-color: #ffff;
        box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        margin-bottom: 42px;
        min-width: 15%;
    }


    %button-base {
        background-color: $primary-color;
        border: none;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: $font-size-3;
        color: #ffff;
        cursor: pointer;
        border-radius: 3px;
        font-weight: 600;
        margin: 15px 20px;
    }

    .button-lang {
        @extend %button-base;
        max-width: 63%;
    }

    .button-lang-ad {
        @extend %button-base;
        margin-top: -5px;
    }

    .button-reageren {
        @extend %button-base;
        margin: 15px 0px;
        margin-top: 0px;
        max-width: 30%;
        padding: 8px 12px;
        font-size: $font-size-4
    }

    .button-lang-alle-reviews {
        @extend %button-base;
    }


    .filter-button {
        background-color: $primary-color;
        border: none;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: $font-size-3;
        color: #ffff;
        cursor: pointer;
        border-radius: 3px;
        font-weight: 400;
        margin-left: 20px;
        margin-top: 20px;
        margin-bottom: 30px;
        box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.1);


        &.inactive {
            background-color: white;
            color: #000;
        }
    }


    %blok-stijl {
        color: #000;
        padding-left: 20px;
    }

    .blok-naam {
        @extend %blok-stijl;
        font-size: $font-size-2;
        margin-bottom: -5px;
        margin-right: 10px;
    }

    .blok-inhoud {
        @extend %blok-stijl;
        font-size: $font-size-1;
        margin-bottom: 5px;
        font-weight: 500;
    }

    .blok-extra {
        @extend %blok-stijl;
        font-size: $font-size-3;
        margin-top: 16px;
        font-weight: 200;
    }


    .blok-extra-ranking {
        @extend %blok-stijl;
        font-size: $font-size-3;
        margin-top: 23px;
        font-weight: 200;
        margin-bottom: 24px;
    }


    .blok-extra-ad {
        @extend %blok-stijl;
        font-size: $font-size-3;
        margin-top: 16px;
        font-weight: 200;
        padding-right: 88px;
    }


    .blok-review-datum {
        @extend %blok-stijl;
        font-size: $font-size-4;
        font-weight: 200;
        margin-right: 10px;
        padding-left: 0;
    }


    .blok-extra-onder {
        font-size: $font-size-3;
        color: #000;
        padding-left: 20px;
        margin-top: 8px;
        font-weight: 200;
        margin-bottom: 28px;
    }


    %blok-basis {
        color: #000;
    }

    .blok-username {
        @extend %blok-basis;
        font-size: $font-size-4;
        font-weight: 200;
        margin-top: 16px;
        margin-right: 0;
    }

    .blok-score {
        @extend %blok-basis;
        font-size: $font-size-2;
        font-weight: 500;
        margin-top: 16px;
        margin-left: 17px;
        background-color: #0084f5;
        padding: 12px;
        border-radius: 3px;
        color: white;
    }

    .blok-review-kop {
        @extend %blok-basis;
        font-size: $font-size-2;
        font-weight: 500;
        margin-top: 16px;
    }

    .blok-review-tekst {
        @extend %blok-basis;
        font-size: $font-size-3;
        font-weight: 300;
        margin-top: -6px;
    }

    .blok-button-reageren {
        @extend %blok-basis;
        display: flex;
        justify-content: space-between;
    }


    .container-second-row {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }


    %statistiek-blok {
        display: flex;
        justify-items: flex-start;
        flex-direction: column;
        background-color: #ffff;
        box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        margin-bottom: 42px;
    }

    .nieuwe-reviews {
        @extend %statistiek-blok;
        max-width: 40%;
    }

    .review-statistieken,
    .bezoekers-statistieken {
        @extend %statistiek-blok;
        min-width: 110%;
    }

    .advertentie-statistieken {
        @extend %statistiek-blok;
        margin-bottom: 0;
        min-width: 40%;
    }


    .reviews-blok {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
    }


    .reviews-blok-top {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin-top: 20px;
    }


    .reviews-inhoud {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }


    .containers-underneath {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-direction: column;
    }


    .statistieken-inhoud {
        display: flex;
        justify-content: space-between;
        margin-right: 14px;
        margin-top: 20px;
    }


    .container-third-row {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }


    .containers-underneath-small {
        display: flex;
        flex-wrap: wrap;
        gap: 34px;
        margin-left: 3vw;
        margin-right: 3vw;
        justify-content: space-between;
    }


    .kleine-statistieken {
        display: flex;
        justify-items: flex-start;
        flex-direction: column;
        background-color: #ffff;
        box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        width: 45%;
        word-wrap: break-word;
    }


    .footer {
        text-align: center;
    }


    .card {
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: 35vw;
        height: 300px;
    }


    .card-ad {
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: 35vw;
        height: 300px;
    }

    .charts {
        display: flex;
        justify-content: center;
    }


}