// ========== 1. Statistiek overlays ==========
.review-statistieken,
.bezoekers-statistieken,
.advertentie-statistieken {
  position: relative;

  .overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-radius: 5px;
  }

  &.locked .overlay {
    display: flex;
  }

  .overlay-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-top: 100px;
  }

  .overlay-locked {
    font-size: $font-size-1;
    color: #000;
    font-weight: 600;
    padding: 0 20px;
  }
}


// ========== 2. Menu overlay ==========

.overlay {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 0;
  background: $primary-color;
  overflow: hidden;
  transition: height 0.5s ease;
  z-index: 50;
}


.overlay.open {
  height: 100vh;
}