// ========== Card Shared Mixin ==========
@mixin card-shared {
  display: flex;
  justify-content: center;
  position: relative;
  height: 53vw;
  width: 80vw;
  margin: 0 auto;

  canvas {
    width: 100% !important;
    height: 100% !important;
  }
}


// ========== Cards ==========
.card {
  @include card-shared;
}

.card-ad {
  @include card-shared;
}


// ========== Charts Wrapper ==========
.charts {
  display: flex;
  justify-content: center;
}
